In [1]:
import pandas as pd
import numpy as np
import datetime

# Problem Statement 1.1 Import the csv file

In [2]:
df = pd.read_csv('F:/DATA SCIENCE/# INTERNSHIP CAREER LAUNCHER/Small_Cap/RAYMOND.csv')

In [3]:
df.head()

# Prints first 5 rows of dataframe

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,RAYMOND,EQ,15-May-2017,763.45,765.00,779.00,757.05,773.9,772.80,770.09,292498,2.252491e+08,9033,55467,18.96
1,RAYMOND,EQ,16-May-2017,772.80,773.45,801.45,768.10,783.5,785.00,788.89,823956,6.500070e+08,18238,179377,21.77
2,RAYMOND,EQ,17-May-2017,785.00,786.00,804.95,778.40,785.5,783.65,792.72,598094,4.741212e+08,13968,127637,21.34
3,RAYMOND,EQ,18-May-2017,783.65,779.35,779.95,740.20,744.0,746.95,762.57,319834,2.438956e+08,7713,92200,28.83
4,RAYMOND,EQ,19-May-2017,746.95,748.00,767.50,714.00,722.0,723.10,740.30,561346,4.155619e+08,13328,137648,24.52

In [4]:
df.tail()

# Prints last 5 rows of dataframe

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,RAYMOND,EQ,07-May-2019,806.05,806.05,821.6,799.25,811.15,808.95,814.61,2038484,1.660574e+09,33444,321610,15.78
490,RAYMOND,EQ,08-May-2019,808.95,807.90,816.9,797.05,806.40,807.10,807.55,930010,7.510262e+08,19028,51327,5.52
491,RAYMOND,EQ,09-May-2019,807.10,801.00,811.1,798.00,805.25,805.30,804.23,425205,3.419611e+08,8608,34675,8.15
492,RAYMOND,EQ,10-May-2019,805.30,809.95,815.0,795.05,804.00,804.40,804.95,464539,3.739298e+08,9381,22009,4.74
493,RAYMOND,EQ,13-May-2019,804.40,803.00,803.0,774.75,782.00,779.35,789.32,342185,2.700928e+08,9023,29418,8.60

In [5]:
df.shape

# Prints number of rows and columns of dataframe

(494, 15)

In [6]:
df.describe()

# Provides various information regarding dataframe

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,494.000000,494.000000
mean,857.014879,858.730972,872.788765,843.176417,857.161842,857.047065,858.740729,6.996091e+05,5.940349e+08,16504.493927,125046.406883,18.723462
std,119.790034,120.556591,120.621563,119.405568,119.938925,119.766977,119.749048,5.598060e+05,4.619086e+08,11567.284242,95448.244753,7.572019
min,600.450000,606.000000,633.000000,593.000000,598.000000,600.450000,610.960000,6.071500e+04,4.590994e+07,1589.000000,15533.000000,4.740000
25%,774.412500,776.112500,789.250000,761.000000,775.662500,774.575000,776.320000,4.132282e+05,3.456062e+08,10303.500000,63414.000000,12.935000
50%,817.300000,822.000000,832.800000,808.700000,818.425000,817.300000,820.875000,5.443265e+05,4.706057e+08,13513.000000,96873.500000,17.340000
75%,946.125000,947.412500,964.937500,932.050000,949.250000,946.125000,949.725000,7.576688e+05,6.731828e+08,18785.250000,152829.500000,22.670000
max,1132.400000,1142.000000,1153.000000,1121.000000,1131.550000,1132.400000,1134.420000,4.933002e+06,4.876011e+09,104582.000000,768430.000000,45.880000

In [7]:
df.isnull().sum().sort_values(ascending=False)

# Finds empty cells if any

% Dly Qt to Traded Qty    0
Deliverable Qty           0
No. of Trades             0
Turnover                  0
Total Traded Quantity     0
Average Price             0
Close Price               0
Last Price                0
Low Price                 0
High Price                0
Open Price                0
Prev Close                0
Date                      0
Series                    0
Symbol                    0
dtype: int64

# Problem Statement 1.2

Calculate the maximum, minimum and mean price for the last 90 days

In [8]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [9]:
df_last90 = df[['Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty']].tail(90)

# Taking last 90 rows in separate data frame for ease.

In [10]:
df_last90.shape

(90, 12)

In [11]:
df_last90.tail()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,806.05,806.05,821.6,799.25,811.15,808.95,814.61,2038484,1.660574e+09,33444,321610,15.78
490,808.95,807.90,816.9,797.05,806.40,807.10,807.55,930010,7.510262e+08,19028,51327,5.52
491,807.10,801.00,811.1,798.00,805.25,805.30,804.23,425205,3.419611e+08,8608,34675,8.15
492,805.30,809.95,815.0,795.05,804.00,804.40,804.95,464539,3.739298e+08,9381,22009,4.74
493,804.40,803.00,803.0,774.75,782.00,779.35,789.32,342185,2.700928e+08,9023,29418,8.60

In [12]:
df_last90_max = pd.DataFrame(df_last90.max().to_dict(),index=[df_last90.index.values[-1]])
df_last90_max

# Maximum value of each column

,% Dly Qt to Traded Qty,Average Price,Close Price,Deliverable Qty,High Price,Last Price,Low Price,No. of Trades,Open Price,Prev Close,Total Traded Quantity,Turnover
493,36.56,843.9,844.75,704944.0,848.5,844.35,837.65,104582.0,846.0,844.75,4933002.0,3.410296e+09

In [13]:
df_last90_min = pd.DataFrame(df_last90.min().to_dict(),index=[df_last90.index.values[-1]])
df_last90_min

# Minimum value of each column

,% Dly Qt to Traded Qty,Average Price,Close Price,Deliverable Qty,High Price,Last Price,Low Price,No. of Trades,Open Price,Prev Close,Total Traded Quantity,Turnover
493,4.74,666.87,653.7,22009.0,689.5,656.0,627.7,4421.0,660.95,653.7,186250.0,1.569654e+08

In [14]:
df_last90_mean = pd.DataFrame(df_last90.mean().to_dict(),index=[df_last90.index.values[-1]])
df_last90_mean

# Mean value of each column

,% Dly Qt to Traded Qty,Average Price,Close Price,Deliverable Qty,High Price,Last Price,Low Price,No. of Trades,Open Price,Prev Close,Total Traded Quantity,Turnover
493,15.957667,780.744222,779.321667,122023.755556,792.083889,779.052778,768.677222,18258.533333,781.337778,779.962778,808174.177778,6.268450e+08

# Problem Statement 1.3

1.3.1. Analyse the data types for each column of the dataframe
1.3.2. Change the date column from 'object' type to 'datetime64(ns)'
1.3.3. See what happens if you subtract the minimum value of the date column from the maximum value.

In [15]:
df.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [16]:
print('The data type of column Symbol:' , type(df['Symbol'][1]))
print('The data type of column Series:' , type(df['Series'][1]))
print('The data type of column Date:' , type(df['Date'][1]))
print('The data type of column Prev Close:' , type(df['Prev Close'][1]))
print('The data type of column Open Price:' , type(df['Open Price'][1]))
print('The data type of column High Price:' , type(df['High Price'][1]))
print('The data type of column Low Price:' , type(df['Low Price'][1]))
print('The data type of column Last Price:' , type(df['Last Price'][1]))
print('The data type of column Close Price:' , type(df['Close Price'][1]))
print('The data type of column Average Price:' , type(df['Average Price'][1]))
print('The data type of column Total Traded Quantity:' , type(df['Total Traded Quantity'][1]))
print('The data type of column Turnover:' , type(df['Turnover'][1]))
print('The data type of column No. of Trades:' , type(df['No. of Trades'][1]))
print('The data type of column Deliverable Qty:' , type(df['Deliverable Qty'][1]))
print('The data type of column % Dly Qt to Traded Qty:' , type(df['% Dly Qt to Traded Qty'][1]))

# Checking the data types of each column

The data type of column Symbol: <class 'str'>
The data type of column Series: <class 'str'>
The data type of column Date: <class 'str'>
The data type of column Prev Close: <class 'numpy.float64'>
The data type of column Open Price: <class 'numpy.float64'>
The data type of column High Price: <class 'numpy.float64'>
The data type of column Low Price: <class 'numpy.float64'>
The data type of column Last Price: <class 'numpy.float64'>
The data type of column Close Price: <class 'numpy.float64'>
The data type of column Average Price: <class 'numpy.float64'>
The data type of column Total Traded Quantity: <class 'numpy.int64'>
The data type of column Turnover: <class 'numpy.float64'>
The data type of column No. of Trades: <class 'numpy.int64'>
The data type of column Deliverable Qty: <class 'numpy.int64'>
The data type of column % Dly Qt to Traded Qty: <class 'numpy.float64'>

In [17]:
for col in df:
    print('The data type of column', col ,type(df[col][1]))
    
# Checking the data types of each column using for loop

The data type of column Symbol <class 'str'>
The data type of column Series <class 'str'>
The data type of column Date <class 'str'>
The data type of column Prev Close <class 'numpy.float64'>
The data type of column Open Price <class 'numpy.float64'>
The data type of column High Price <class 'numpy.float64'>
The data type of column Low Price <class 'numpy.float64'>
The data type of column Last Price <class 'numpy.float64'>
The data type of column Close Price <class 'numpy.float64'>
The data type of column Average Price <class 'numpy.float64'>
The data type of column Total Traded Quantity <class 'numpy.int64'>
The data type of column Turnover <class 'numpy.float64'>
The data type of column No. of Trades <class 'numpy.int64'>
The data type of column Deliverable Qty <class 'numpy.int64'>
The data type of column % Dly Qt to Traded Qty <class 'numpy.float64'>

In [18]:
df['Date']= pd.to_datetime(df['Date'])

# Converting data type of date from string to datetime64[ns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 15 columns):
Symbol                    494 non-null object
Series                    494 non-null object
Date                      494 non-null datetime64[ns]
Prev Close                494 non-null float64
Open Price                494 non-null float64
High Price                494 non-null float64
Low Price                 494 non-null float64
Last Price                494 non-null float64
Close Price               494 non-null float64
Average Price             494 non-null float64
Total Traded Quantity     494 non-null int64
Turnover                  494 non-null float64
No. of Trades             494 non-null int64
Deliverable Qty           494 non-null int64
% Dly Qt to Traded Qty    494 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 58.0+ KB

In [20]:
df['Date'].max()-df['Date'].min()

# Subtracting minimum value of date from maximum value of date and gives number of days between them.

Timedelta('728 days 00:00:00')

# Problem Statement 1.4

In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price) of the stock. 
( VWAP = sum(price*volume)/sum(volume) ) 

Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created)

In [21]:
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year

# Creating new columns Month and Year

In [22]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year
0,RAYMOND,EQ,2017-05-15,763.45,765.00,779.00,757.05,773.9,772.80,770.09,292498,2.252491e+08,9033,55467,18.96,5,2017
1,RAYMOND,EQ,2017-05-16,772.80,773.45,801.45,768.10,783.5,785.00,788.89,823956,6.500070e+08,18238,179377,21.77,5,2017
2,RAYMOND,EQ,2017-05-17,785.00,786.00,804.95,778.40,785.5,783.65,792.72,598094,4.741212e+08,13968,127637,21.34,5,2017
3,RAYMOND,EQ,2017-05-18,783.65,779.35,779.95,740.20,744.0,746.95,762.57,319834,2.438956e+08,7713,92200,28.83,5,2017
4,RAYMOND,EQ,2017-05-19,746.95,748.00,767.50,714.00,722.0,723.10,740.30,561346,4.155619e+08,13328,137648,24.52,5,2017

In [23]:
df['H+L+C'] = (df[['High Price', 'Low Price' , 'Close Price']].sum(axis=1))/3

# Price = (High Price + Low Price + Close Price) / 3 for the calculation of VWAP

In [24]:
def vwap(df):
    q = df['Total Traded Quantity'].values
    p = df['H+L+C'].values
    return df.assign(vwap=(p * q).cumsum() / q.cumsum())

# ( VWAP = sum(price*volume)/sum(volume) ) 
# Volume = Total Traded Quantity
# Price = df['H+L+C'] = (High Price + Low Price + Close Price) / 3

In [25]:
new_df = df.groupby(df['Month'], group_keys=False).apply(vwap)

In [26]:
new_df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,H+L+C,vwap
159,RAYMOND,EQ,2018-01-01,1057.45,1054.95,1068.0,1046.35,1054.30,1051.2,1058.03,210005,2.221919e+08,6807,32402,15.43,1,2018,1055.183333,1055.183333
160,RAYMOND,EQ,2018-01-02,1051.20,1054.70,1058.3,1031.85,1048.00,1045.8,1043.33,303519,3.166693e+08,6489,49455,16.29,1,2018,1045.316667,1049.351628
161,RAYMOND,EQ,2018-01-03,1045.80,1054.70,1071.7,1042.70,1054.60,1055.9,1059.63,406824,4.310815e+08,9136,103455,25.43,1,2018,1056.766667,1052.629318
162,RAYMOND,EQ,2018-01-04,1055.90,1061.90,1104.9,1052.10,1101.75,1097.3,1075.11,677838,7.287506e+08,13873,219191,32.34,1,2018,1084.766667,1066.259719
163,RAYMOND,EQ,2018-01-05,1097.30,1106.80,1118.0,1095.05,1107.90,1109.5,1108.22,632508,7.009588e+08,19472,90386,14.29,1,2018,1107.516667,1077.958029

In [27]:
print('Shape of Given Data Frame: ', df.shape)
print('Shape of New Data Frame with VWAP:', new_df.shape)

Shape of Given Data Frame:  (494, 18)
Shape of New Data Frame with VWAP: (494, 19)

# Problem Statement 1.5

1.5.1 Write a function to calculate the average price over the last N days of the stock price data where N is a user defined           parameter.
1.5.2 Write a function to calculate the profit/loss percentage over the last N days.
1.5.3 Calculate the average price AND the profit/loss percentages over the course of last -1 week, 2 weeks, 1 month, 3 months, 6       months and 1 year.

Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days

In [28]:
def avg(n):
    selected_date = pd.date_range(df['Date'].max() - pd.to_timedelta(n+1, unit='d'), df['Date'].max(), freq='D')
    df_selected = df[df["Date"].isin(selected_date)]
    
    df_avg = pd.DataFrame(df_selected.mean().to_dict(),index=[df_selected.index.values[-1]])

    return df_avg 

# Function to calculate the average price over the last N days

In [29]:
avg(30)

# Finding avg of last 30 days

,% Dly Qt to Traded Qty,Average Price,Close Price,Deliverable Qty,H+L+C,High Price,Last Price,Low Price,Month,No. of Trades,Open Price,Prev Close,Total Traded Quantity,Turnover,Year
493,16.514444,779.626667,779.152778,128473.777778,779.225,791.311111,779.111111,767.211111,4.444444,15657.222222,779.427778,779.044444,794577.444444,6.215509e+08,2019.0

In [30]:
def prof_loss(n):
    selected_date = pd.date_range(df['Date'].max() - pd.to_timedelta(n+1, unit='d'), df['Date'].max(), freq='D')
    df_selected = df[df["Date"].isin(selected_date)]
    
    df_selected['Prof/Loss'] = (df_selected['Close Price'] / df_selected['Close Price'].shift())*100 - 100


    return df_selected 

# Function to calculate the profit/loss percentage over the last N days.

In [31]:
prof_loss(4)

C:\Users\prana\AppData\Local\conda\conda\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,H+L+C,Prof/Loss
490,RAYMOND,EQ,2019-05-08,808.95,807.90,816.9,797.05,806.40,807.10,807.55,930010,7.510262e+08,19028,51327,5.52,5,2019,807.016667,NaN
491,RAYMOND,EQ,2019-05-09,807.10,801.00,811.1,798.00,805.25,805.30,804.23,425205,3.419611e+08,8608,34675,8.15,5,2019,804.800000,-0.223021
492,RAYMOND,EQ,2019-05-10,805.30,809.95,815.0,795.05,804.00,804.40,804.95,464539,3.739298e+08,9381,22009,4.74,5,2019,804.816667,-0.111760
493,RAYMOND,EQ,2019-05-13,804.40,803.00,803.0,774.75,782.00,779.35,789.32,342185,2.700928e+08,9023,29418,8.60,5,2019,785.700000,-3.114122

In [32]:
def avg_price(n):
    selected_date = pd.date_range(df['Date'].max() - pd.to_timedelta(n+1, unit='d'), df['Date'].max(), freq='D')
    df_selected = df[df["Date"].isin(selected_date)]
    
    average_price = (df_selected['Average Price'].tail(n).sum())/n

    return print('The average price for last n days is:',average_price)

# Function to calculate the average price over the last N days

In [33]:
avg_price(5)

The average price for last n days is: 804.132

In [34]:
def proloss(n):
    selected_date = pd.date_range(df['Date'].max() - pd.to_timedelta(n+1, unit='d'), df['Date'].max(), freq='D')
    df_selected = df[df["Date"].isin(selected_date)]
    
    df_selected['Prof/Loss'] = (df_selected['Close Price'] / df_selected['Close Price'].shift())*100 - 100
    overall_proloss = (df_selected['Prof/Loss'].tail(n).sum())/n


    return print('The profit/loss for last n days is:',overall_proloss)

# Function to calculate overall profit/loss percentage over the last N days.

In [35]:
proloss(20)

The profit/loss for last n days is: 0.173931270465

C:\Users\prana\AppData\Local\conda\conda\envs\tfdeeplearning\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

# Problem Statement 1.6

Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [36]:
df['Prof/Loss'] = df['Close Price'].pct_change()*100   # 100 is multiplied since the next problem statement has the values accordingly.
df = df.fillna(0)
df['Day_Perc_Change'] = (df['Prof/Loss'] + df['Prof/Loss'].shift()) 
df = df.fillna(0)
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,H+L+C,Prof/Loss,Day_Perc_Change
0,RAYMOND,EQ,2017-05-15,763.45,765.00,779.00,757.05,773.9,772.80,770.09,292498,2.252491e+08,9033,55467,18.96,5,2017,769.616667,0.000000,0.000000
1,RAYMOND,EQ,2017-05-16,772.80,773.45,801.45,768.10,783.5,785.00,788.89,823956,6.500070e+08,18238,179377,21.77,5,2017,784.850000,1.578675,1.578675
2,RAYMOND,EQ,2017-05-17,785.00,786.00,804.95,778.40,785.5,783.65,792.72,598094,4.741212e+08,13968,127637,21.34,5,2017,789.000000,-0.171975,1.406700
3,RAYMOND,EQ,2017-05-18,783.65,779.35,779.95,740.20,744.0,746.95,762.57,319834,2.438956e+08,7713,92200,28.83,5,2017,755.700000,-4.683213,-4.855188
4,RAYMOND,EQ,2017-05-19,746.95,748.00,767.50,714.00,722.0,723.10,740.30,561346,4.155619e+08,13328,137648,24.52,5,2017,734.866667,-3.192985,-7.876198

# Problem Statement 1.7

Add another column 'Trend' whose values are:
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
'Positive' for 'Day_Perc_Change' in between 1 and 3
'Negative' for 'Day_Perc_Change' in between -1 and -3
'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
'Among top losers' for 'Day_Perc_Change' in between -3 and -7
'Bull run' for 'Day_Perc_Change' >7
'Bear drop' for 'Day_Perc_Change' <-7

In [37]:
def trend(row):
    
    if row['Day_Perc_Change'] < -7 :
        return 'Bear drop'

    if row['Day_Perc_Change'] <= -3 and row['Day_Perc_Change'] > -7 :
        return 'Among top losers'

    if row['Day_Perc_Change'] <= -1 and row['Day_Perc_Change'] > -3 :
        return 'Negative'

    if row['Day_Perc_Change'] <= -0.5 and row['Day_Perc_Change'] > -1 :
        return 'Slight negative'

    if row['Day_Perc_Change'] <= 0.5 and row['Day_Perc_Change'] > -0.5 :
        return 'Slight or No change'

    if row['Day_Perc_Change'] >= 0.5 and row['Day_Perc_Change'] < 1 :
        return 'Slight positive'

    if row['Day_Perc_Change'] >= 1 and row['Day_Perc_Change'] < 3 :
        return 'Positive'

    if row['Day_Perc_Change'] >= 3 and row['Day_Perc_Change'] < 7 :
        return 'Among top gainers'

    if row['Day_Perc_Change'] > 7 :
        return 'Bull run'

# Function that returns required strings based on Day_Perc_Change column

In [38]:
df.apply (lambda row: trend(row), axis=1)
df['Trend'] = df.apply (lambda row: trend(row), axis=1)

# Creating a new column Trends and importing strings developed based on Day_Perc_Change 
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,...,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,H+L+C,Prof/Loss,Day_Perc_Change,Trend
0,RAYMOND,EQ,2017-05-15,763.45,765.00,779.00,757.05,773.9,772.80,770.09,...,2.252491e+08,9033,55467,18.96,5,2017,769.616667,0.000000,0.000000,Slight or No change
1,RAYMOND,EQ,2017-05-16,772.80,773.45,801.45,768.10,783.5,785.00,788.89,...,6.500070e+08,18238,179377,21.77,5,2017,784.850000,1.578675,1.578675,Positive
2,RAYMOND,EQ,2017-05-17,785.00,786.00,804.95,778.40,785.5,783.65,792.72,...,4.741212e+08,13968,127637,21.34,5,2017,789.000000,-0.171975,1.406700,Positive
3,RAYMOND,EQ,2017-05-18,783.65,779.35,779.95,740.20,744.0,746.95,762.57,...,2.438956e+08,7713,92200,28.83,5,2017,755.700000,-4.683213,-4.855188,Among top losers
4,RAYMOND,EQ,2017-05-19,746.95,748.00,767.50,714.00,722.0,723.10,740.30,...,4.155619e+08,13328,137648,24.52,5,2017,734.866667,-3.192985,-7.876198,Bear drop

# Problem Statement 1.8

Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.

In [39]:
a =  df['Total Traded Quantity'].groupby(df['Trend']).mean()
b =  df['Total Traded Quantity'].groupby(df['Trend']).median()

In [40]:
print('The average values of Total Traded Quantity based on Trend are: \n',a,)
print('\n The median values of Total Traded Quantity based on Trend are: \n',b)

The average values of Total Traded Quantity based on Trend are:
 Trend
Among top gainers      9.336498e+05
Among top losers       5.970298e+05
Bear drop              1.047061e+06
Bull run               2.351171e+06
Negative               6.160264e+05
Positive               6.910017e+05
Slight negative        5.096479e+05
Slight or No change    5.214559e+05
Slight positive        6.459174e+05
Name: Total Traded Quantity, dtype: float64

 The median values of Total Traded Quantity based on Trend are:
 Trend
Among top gainers       830159.0
Among top losers        546637.0
Bear drop               737642.0
Bull run               2123664.0
Negative                465548.5
Positive                593982.0
Slight negative         435382.0
Slight or No change     476078.0
Slight positive         533556.0
Name: Total Traded Quantity, dtype: float64